
html{
  
  width: 100vw;
  height: 100vh;
  border: 0;
  padding: 0;
  margin: -10px;

  


 




}

nav{

background-color: white;
text-align: left;
font-size: 50px;
height: 1050px;
padding-top: 14px;
padding-bottom: 14px;
background-image: url(images/Untitled_Artwork.png);
background-size: 100%;
background-repeat: no-repeat;







}




body {

    background-color: #ffffff;
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    


}





nav h1{
color: white;
text-shadow: 2px 2px black;
text-align: center;
padding-top: 390px;
position: relative;
font-family:'Juniper'
style="position: fixed"







}

main{

background-color: #ffffff;
text-align: center;
fill: aqua;



}

.center {


    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding-bottom: 30px;
    padding-right: 50px;

    
   


}



h2{

color: black;
text-align: center;
padding-top: 12px;
margin: 0%;



}

.center:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  
}


footer {
background-color: rgb(255, 255, 255);
text-align: center;
color: black;
font-size: 15px;
padding-top: 50px;
padding-bottom: 10px;





}

@media only screen and (max-width: 414px) {

  nav {
background-color: rgb(255, 255, 255);
text-align: center;
font-size: 30px;
height: 450px;
padding-top: 20px;
padding-bottom: 24px;
background-image: url(images/Untitled_Artwork.png);
background-position: center;
background-size:cover



   
  }
}

@media only screen and (max-width: 414px) {

  nav h1{


    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-top: 140px;
    font-family:'Juniper'
    style="position: fixed"

  }
}

@media only screen and (max-width: 414px) {

  .center{

    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding-bottom: 30px;
    padding-right: 58px;
    height: 600px;
    width: 360px;





  }

}

@media only screen and (max-width: 414px) {

  a {

font-size: 30px;
position: 100px;



  }

}

footer a{

color: black;
font-size: 15px;


}

@media only screen and (max-width: 600px) {

  nav {
background-color: rgb(255, 255, 255);
text-align: center;
font-size: 30px;
height: 450px;
padding-top: 20px;
padding-bottom: 24px;
background-image: url(images/Untitled_Artwork.png);
background-position: center;
background-size:cover




  }

}

@media only screen and (max-width: 600px) {

  nav h1 {

color: white;
text-shadow: 2px 2px black;
text-align: center;
padding-bottom: 300px;
padding-top: 130px;
padding-left: 50px;
position: relative;
font-family:'Juniper'

style="position: fixed"

}

}




section{


text-align: center;
font-size: 50px;
padding-top: 200px;
padding-bottom: 100px;


}

section h2{
  font-size: 50px;



}

section a{


  color: rgba(255, 48, 186, 0.753);
  text-decoration: underline;



}



#header a:hover {

  color: rgb(0, 0, 0)!important;
}

#header b{

  color: white
}


.fa-linkedin{

  display: block;
  margin-left: auto;
  float: right;
  height: 50px;
padding-right: 50px;
padding-left: 10px;
 
}

.fa-instagram{


  display: block;
  float: right;
  height: 50px;


}

body {
  cursor: url(images/favicon.png),auto;
}

#anchor-tagged{

  text-align: center;
  padding-left: 30px; 
  color: red;
  background-color: rgba(0, 0, 0, 0.253);
  margin-left: 780px;
  width: 300px;

  




}

#anchor-tagged a:hover{
color: rgba(209, 36, 36, 0.918);

}


#anchor-tagged b{


color: rgb(13, 13, 124);

}

a{

  text-decoration: none;
  color: white;
}




